body{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-sze: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

.main-header-logo,
.main-footer-logo{
  margin: 0;
}

.main-navigation{
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.main-header-logo{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #ffffff;
}

.main-navigation{
  list-style: none;
}

.search{
  font-size: 15px;
  opacity: 0.4;
  
  border: none;
  
  background-color: #f7e296;
}

.search:hover,
.search:focus{
  opacity: 1;
}

.main-navigation-catalog{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}

.modal-categories-list{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
  color: #ffffff;
}

.main-navigation a{
  color: #000000;
}

.main-navigation a:hover{
  opacity: 0.6;
}

.main-navigation a:active{
  opacity: 0.3;
}

.preview{
  background-color: #ffffff;
}

.preview-lead{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.preview-text{
  color: #464646;
  margin: 0;
  padding: 0;
}

.preview-table {
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  width: 425px;
}

.preview-table tr th {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

.categories{
  background-color: #ffffff;
  
  margin: 0 auto;
  
  width: 1160px;
}

.categories-list{
  list-style: none;
}

.categories-list a{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  
  display: block;
}

.categories-list a:active{
  opacity: 0.3;
}

.categories-container{ 
  background-color: #f7e296;
}

.categories-container:hover{ 
  background-color: #f0c52e;
}

.button{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  
  background-color: #f0c52e;
}

a.button{
  color: #000000;
}

a.button:active{
  color: rgba(0,0,0,0.3);
}
.feature-buttons-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.feature-buttons-list button{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f0c52e;
  
  background-color: #000000;
  
  border: none;
}

.features-list li{
  color: #464646;
}

.features-list h3{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.partners{
  background-color: #ffffff;
}

.partners-list{
  list-style: none;
}

.partners-list-image{
  filter: grayscale(1);
  opacity: 0.2;
}

.partners-list-image:hover{
  filter: none;
  opacity: 1;
}

.about-us,
.contacts{
  color: #464646;
}

.about-us h2,
.contacts h2{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.about-us-delivery-list{
  list-style-type: circle;
  
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  
}

.about-us-delivery-list a{
  color: #000000;
}

.about-us-delivery-list a:active{
  opacity: 0.3;
}

.main-footer-navigation{
  color: #ffffff;
}

.main-footer ul{
  color: #ffffff;
  list-style: none;
}

.main-footer-logo{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #ffffff;
}

.main-footer-logo-text{
  color: #f0c52e;
}

.main-footer-logo-text:hover{
  opacity: 0.8;
}

.main-footer-logo-text:active{
  opacity: 0.5;
}

.main-footer-interface a{
  color: #ffffff;
  opacity: 0.8;
}

.main-footer-interface a:hover{
  opacity: 1;
}

.main-footer-interface a:active{
  opacity: 0.5;
}

.main-footer-social a{
  opacity: 0.8;
}

.main-footer-social a:hover{
  opacity: 1;
}

.main-footer-social a:active{
  opacity: 0.5;
}

.main-footer-features{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main-footer-features a{
  color: #ffffff;
  opacity: 0.8;
}

.main-footer-features a:hover{
  opacity: 1;
}

.main-footer-features a:active{
  opacity: 0.5;
}

.telephone{
  color: #ffffff;
  opacity: 0.8;
}

.telephone:hover{
  opacity: 1;
}

.telephone:active{
  opacity: 0.5;
}

.main-footer-icon{
  opacity: 0.8;
}

.main-footer-icon:hover{
  opacity: 1;
}

.main-footer-icon:active{
  opacity: 0.5;
}

.modal-letter{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  
  background-color: #ffffff;
}

.write-to-us-form-name,
.write-to-us-form-email,
.letter-text{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  
  border: none;
  
  background-color: #f2f2f2;
}

.write-to-us-form-name:hover,
.write-to-us-form-email:hover,
.letter-text:hover{
  background-color: #eaeaea;
}

.write-to-us-form-name:focus,
.write-to-us-form-email:focus,
.letter-text:focus{
  outline: 2px solid #f0c52e;
  outline-offset: -2px;
  background-color: #ffffff;
}

.write-to-us-form-name:invalid,
.write-to-us-form-email:invalid,
.letter-text:invalid{
  outline: none;
  border: none;
  background-color: #f6dada;
  box-shadow: none;
}

.letter-text{
  resize: none;
}

.write-to-us-form-submit{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  
  border: none;
  
  background-color: #f0c52e;
}

.container h2{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumps{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.breadcrumps a{
  color: #e5e5e5;
}

.filter legend{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter fieldset:first-of-type{
  border-top: 3px solid #000000;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #000000;
}

.filter fieldset:nth-of-type(2){
  border: none;
}

.filter fieldset:last-of-type{
  border-top: 3px solid #000000;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.filter-top{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.filter-submit{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f0c52e;
  
  border: none;
}

.sorting b{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-types a{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #000000;
  opacity: 0.5;
}

.sorting-types a:hover{
  opacity: 1;
}

.sorting-arrows a{
  opacity: 0.5;
}

.sorting-arrows a:hover{
  opacity: 1;
}

.cart{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #f0c52e;
}

.comparison{
  font-family: "Open Sans", Tahoma, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  color: #464646; 
  
  border: none;
  
  background: none;
}

.good-name{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.goods-information b{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
}

.pages{
  font-family: "Gilroy", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  
  background-color: #efefef;
}

.pages a{
  color: #000000;
}

.pages-list a{
  color: #000000;
  opacity: 0.6;
}

.pages-list a:hover{
  opacity: 1;
}

.main-header{
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 57px;
  
  width: 1160px;
  
}

.main-navigation-container{
  width: 1160px;
  box-sizing: border-box;
  min-height: 186px;
  
  padding-left: 60px;
  padding-right: 57px;
  
  background-color: #f7e296;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-header-row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
}

.search-form{
  margin-left: 5px;
}

.first-header-row-navigation{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 340px;
}

.compare-link{
  margin-left: 225px;
}

.cart-link{
  margin-left: 45px;
}

.main-navigation-catalog{
  display: flex;
  margin: 0;
  padding: 0;
}

.main-navigation-delivery{
  margin-left: 308px;
}

.main-navigation-contacts{
  margin-left: 123px;
}

.main-navigation-guarantee{
  margin-left: 30px;
}

.slider-container{
  margin: 0 auto;
  
  width: 1160px;
}

.preview{
  padding-left: 60px;
  padding-right: 57px;
  margin: 0 auto;
  
  width: 1160px;
}

.preview-slides{
  margin: 0;
  padding-left: 100px;
  padding-right: 57px;
}

.preview-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.preview-image-container{
  width: 500px;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.preview-content-container{
  margin-left: 10px;
  width: 500px;
}

.categories-container{
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-list-item{
  width: 160px;
}

.features{
  width: auto;
  background-color: #e5e5e5;
}

.features-container{
  margin: 0 auto;
  
  width: 1160px;
  
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.feature-buttons-list-container{
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.features-list-headline{
  margin: 0;
  padding: 0;
}

.features-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 100px;
  display: flex;
  width: 760px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.features-list-content{
  width: 700px;
  display: flex;
  flex-direction: row;
}

.features-list-text{
  width: 460px;
}

.delivery-image{
  margin-left: 100px;
}

.partners-container{
  margin: 0 auto;
  width: 1160px;

  
  display: flex;
  justify-content: space-between;
}

.about-us-headline{
  margin: 0;
  padding: 0;
}

.about-us-text{
  margin: 0;
  padding: 0;
}

.contacts-headline{
  margin: 0;
  padding: 0;
}

.contacts-text{
  margin: 0;
  padding: 0;
}
.partners{
  
  margin: 0 auto;
  width: 1160px;

  
  display: flex;
  justify-content: space-between;
}

.partners-list{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
}

.main-information-container{
  margin: 0 auto;
  width: 1160px;

  
  display: flex;
  justify-content: space-between;
}

.about-us{
  width: 500px;
}

.contacts{
  width: 560px;
}

.main-footer{
  background-color: #464646;
}

.main-footer-navigation{
  margin: 0 auto;
  
  width: 1160px;
  
  display: flex;
  justify-content: space-between;
}
.main-footer ul,
.main-footer p{
  margin: 0;
  padding: 0;
}
.main-footer-left-column{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-footer-center-column{
  width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer-right-column{
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-footer-features{
  display: flex;
  width: 440px;
  justify-content: space-between;
  
}

.main-footer-social{
  display: flex;
  width: 160px;
  justify-content: space-evenly;
}

.main-footer-interface{
  display: flex;
  width: 330px;
  justify-content: space-between
}

.content-top-container{
  margin: 0 auto;
  
  width: 1160px;
}

.content-top-headline{
  margin: 0;
}

.content-top{
  padding-left: 60px;
  padding-right: 57px;
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.breadcrumps{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.headlines{
  width: 100%;
  background-image:  linear-gradient(to right,#dbdbdb,#dbdbdb 50%,#ebebeb 50%,#ebebeb);
}

.headlines-container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter-headline{
  background-color: #dbdbdb;
  width: 328px;
}

.sorting-headline{
  background-color: #ebebeb;
  width: 832px;
}

.sorting{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.content{
  width: 100%;
  background-image:  linear-gradient(to right,#ebebeb,#ebebeb 50%,#ffffff 50%,#ffffff);
}

.content-container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.filter{
  background-color: #ebebeb;
  width: 328px;
}

.items{
  background-color: #ffffff;
  width: 832px;
}

.item-list{
  width: 760px;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
}

.goods-list{
  list-style: none;
}

.pages{
  background-color: #ebebeb;
  width: 760px;
  display: flex;
  justify-content: space-around;
}

.pages-list{
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0;
}

.goods-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.plus{
  opacity: 0.4;
}

.sorting-types{
  margin: 0;
  padding: 0;
}

.sorting-arrows{
  margin: 0;
  padding: 0;
}


